.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  @apply relative font-normal outline-none text-[color:var(--dz-heading-color)];
}

.content h1 {
  @apply leading-10 text-[28px] tracking-tight;
}

.content h2 {
  @apply mt-12 mb-4 pt-6 tracking-tight border-t border-[--dz-border-color] leading-8 text-2xl;
}

.content h3 {
  @apply mt-8 mb-0 tracking-tight leading-7 text-xl;
}

.content .header-anchor {
  @apply absolute top-0 left-0 ml-[-1em] font-medium select-none opacity-0 no-underline transition-[opacity,color] duration-[250ms];
}

.content .header-anchor:before {
  @apply content-[var(--dz-header-anchor-symbol)];
}

.content h1:hover .header-anchor,
.content h1 .header-anchor:focus,
.content h2:hover .header-anchor,
.content h2 .header-anchor:focus,
.content h3:hover .header-anchor,
.content h3 .header-anchor:focus,
.content h4:hover .header-anchor,
.content h4 .header-anchor:focus,
.content h5:hover .header-anchor,
.content h5 .header-anchor:focus,
.content h6:hover .header-anchor,
.content h6 .header-anchor:focus {
  @apply opacity-100;
}

@media screen(md) {
  .content h1 {
    @apply tracking-tighter leading-10 text-[length:32px];
  }
}

.content h2 .header-anchor {
  @apply top-6;
}

/**
 * Paragraph and inline elements
 * -------------------------------------------------------------------------- */

.content p,
.content summary {
  @apply my-4 mx-0;
}

.content p {
  @apply leading-7;
}

.content blockquote {
  @apply my-12 mx-0 py-2 italic px-4 border-l-2 border-primary-500 transition-[border-color] duration-500;
}

.content blockquote > p {
  @apply m-0 text-base dark:text-white transition-colors;
}

.content a {
  @apply font-medium text-[--dz-link-color] hover:text-[--dz-link-color-hover] underline underline-offset-4 transition-[color,opacity] duration-200;
}

.content strong {
  @apply font-semibold;
}

/**
 * Lists
 * -------------------------------------------------------------------------- */

.content ul,
.content ol {
  @apply pl-5 my-4 mx-0;
}

.content ul {
  @apply list-disc;
}

.content ol {
  @apply list-decimal;
}

.content li + li {
  @apply mt-2;
}

.content li > ol,
.content li > ul {
  @apply mt-2 mb-0 mx-0;
}

/**
 * Table
 * -------------------------------------------------------------------------- */

.content table {
  @apply block border-collapse my-5 mx-0 overflow-x-auto;
}

.content tr {
  @apply bg-[--dz-table-row-bg] border-t border-[--dz-table-row-border] transition-[background-color] duration-500;
}

.content tr:nth-child(2n) {
  @apply bg-[--dz-table-row-bg-odd];
}

.content th,
.content td {
  @apply border border-[--dz-table-border] py-2 px-4;
}

.content th {
  @apply text-left text-sm font-semibold text-[--dz-table-head-text] bg-[--dz-table-head-bg];
}

.content td {
  @apply text-sm text-[--dz-table-data-text];
}

/**
 * Decorational elements
 * -------------------------------------------------------------------------- */

.content hr {
  @apply my-4 mx-0 border-t border-[--dz-divider];
}

/**
 * Custom Block
 * -------------------------------------------------------------------------- */

.content .custom-block {
  @apply my-10 mx-0;
}

.content .custom-block p {
  @apply my-2 mx-0 leading-6;
}

.content .custom-block p:first-child {
  @apply m-0;
}

.content .custom-block div[class*="language-"] {
  @apply my-2 mx-0 rounded-lg;
}

.content .custom-block div[class*="language-"] code {
  @apply font-normal bg-transparent;
}

.content .custom-block .vp-code-group .tabs {
  @apply m-0 rounded-tl-lg rounded-tr-lg;
}

/**
 * Code
 * -------------------------------------------------------------------------- */

/* inline code */
.content :not(pre, h1, h2, h3, h4, h5, h6) > code {
  @apply text-sm text-[--dz-code-color];
}

.content :not(pre) > code {
  @apply rounded-md py-[3px] px-[6px] bg-[--dz-code-bg] transition-[color,background-color] duration-[250ms,500ms];
}

.content a:has(code) {
  @apply no-underline;
}

.content a > code {
  @apply text-[--dz-code-link-color] hover:text-[--dz-code-link-color-hover];
}

.content h1 > code,
.content h2 > code,
.content h3 > code {
  @apply text-[--dz-code-color] text-[length:0.9em] tracking-normal;
}

.content :is(img) {
  @apply [zoom:50%];
}

.content div[class*="language-"],
.vp-block {
  @apply relative my-4 rounded-lg overflow-x-auto lg:max-w-[910px] xl:max-w-[720px] bg-[--shiki-color-background] transition-[background-color] duration-500;
}

@media screen(sm) {
  .content div[class*="language-"],
  .vp-block {
    @apply rounded-lg my-4 mx-0;
  }
}

@media (max-width: 639px) {
  .content li div[class*="language-"] {
    @apply rounded-tr-lg rounded-bl-lg;
  }
}

.content div[class*="language-"] + div[class*="language-"],
.content div[class$="-api"] + div[class*="language-"],
.content div[class*="language-"] + div[class$="-api"] > div[class*="language-"] {
  /* @apply -mt-4; */
}

.content [class*="language-"] pre,
.content [class*="language-"] code {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  @apply text-left whitespace-pre [direction:ltr] [word-spacing:normal] [word-break:normal] [word-wrap:normal] [tab-size:4] [hyphens:none];
}

.content [class*="language-"] pre {
  @apply relative z-[1] m-0 py-5 px-0 bg-transparent overflow-x-auto;
}

.content [class*="language-"] code {
  @apply block text-sm leading-7 text-[--dz-code-block-color] py-0 px-6 min-w-full transition-colors duration-500 overflow-x-scroll;
}

.content [class*="language-"] code .highlighted {
  @apply inline-block bg-gray-400/20 dark:bg-gray-300/20 my-0 -mx-6 py-0 px-6 w-[calc(100%+2*24px)] transition-[background-color] duration-500;
}

.content [class*="language-"] code .highlighted.error {
  @apply bg-red-500/50 dark:bg-red-500/40;
}

.content [class*="language-"] code .highlighted.warning {
  @apply bg-yellow-500/50 dark:bg-yellow-500/40;
}

.content [class*="language-"] code .diff {
  @apply my-0 -mx-6 py-0 px-6 inline-block w-[calc(100%+2*24px)] transition-[background-color] duration-500;
}

.content [class*="language-"] code .diff::before {
  @apply absolute left-[10px];
}

.content [class*="language-"] .has-focused-lines .line:not(.has-focus) {
  @apply blur-[0.095rem] opacity-40 transition-[filter,opacity] duration-[350ms,350ms];
}

.content [class*="language-"] .has-focused-lines .line:not(.has-focus) {
  @apply opacity-70 transition-[filter,opacity] duration-[350ms];
}

.content [class*="language-"]:hover .has-focused-lines .line:not(.has-focus) {
  @apply blur-0 opacity-100;
}

.content [class*="language-"] code .diff.remove {
  @apply bg-red-500/50 dark:bg-red-500/40;
}

.content [class*="language-"] code .diff.remove::before {
  @apply content-["-"] text-red-300 dark:text-red-400;
}

.content [class*="language-"] code .diff.add {
  @apply bg-green-500/50 dark:bg-green-500/40;
}

.content [class*="language-"] code .diff.add::before {
  @apply content-["+"] text-green-300 dark:text-green-400;
}

.content div[class*="language-"].line-numbers-mode {
  @apply pl-8;
}

.content .line-numbers-wrapper {
  @apply absolute text-center leading-7 w-8 pt-5 text-sm font-mono top-0 bottom-0 left-0 z-[3] border-r border-neutral-400/40 text-neutral-400/40 dark:border-neutral-600/60 dark:text-neutral-600/60 transition-colors duration-500;
}

.content [class*="language-"] > button.copy {
  @apply transition-all text-neutral-400 absolute top-6 right-[6px] z-30 rounded w-5 h-5 bg-transparent bg-center bg-no-repeat opacity-0 cursor-pointer;
  direction: ltr;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(163,163,163,.75)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
  background-size: 20px;
}

.content [class*="language-"]:hover > button.copy,
.content [class*="language-"] > button.copy:focus {
  @apply opacity-100;
}

.content [class*="language-"] > button.copy:hover,
.content [class*="language-"] > button.copy.copied {
  @apply border-neutral-400/75;
}

.content [class*="language-"] > button.copy.copied,
.content [class*="language-"] > button.copy:hover.copied {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(22,163,74,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");
}
.content [class*="language-"] > button.copy.copied::before,
.content [class*="language-"] > button.copy:hover.copied::before {
  transform: translate(calc(-100% - 1px));
  content: "Got it!";
  @apply relative top-[-1px] flex justify-center items-center px-[10px] w-fit h-5 text-center text-[12px] font-medium text-green-600 whitespace-nowrap;
}

.content [class*="language-"] > span.lang {
  @apply absolute top-0 right-0 text-neutral-400 z-20 opacity-75 text-[10px] font-bold uppercase tracking-wider px-2 py-1 rounded-full;
}

.content [class*="language-"]:hover > button.copy + span.lang,
.content [class*="language-"] > button.copy:focus + span.lang {
  @apply opacity-0;
}

/**
 * Component: Team
 * -------------------------------------------------------------------------- */

.content .VPTeamMembers {
  @apply mt-6;
}

.content .VPTeamMembers.small.count-1 .container {
  @apply m-0 max-w-[calc((100%-24px)/2)] !important;
}

.content .VPTeamMembers.small.count-2 .container,
.content .VPTeamMembers.small.count-3 .container {
  @apply max-w-full !important;
}

.content .VPTeamMembers.medium.count-1 .container {
  @apply m-0 max-w-[calc((100%-24px)/2)] !important;
}

/**
 * External links
 * -------------------------------------------------------------------------- */

/* prettier-ignore */
:is(.external-link-icon, .content a[href*='://'], .content a[target='_blank']):not(.no-icon)::after {
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);

  @apply inline-block mt-[-1px] ml-1 w-3 h-3 bg-current text-surface-500 shrink-0;
}

.external-link-icon::after {
  content: "";
}

/* prettier-ignore */
.external-link-icon-enabled :is(.content a[href*='://'], .content a[target='_blank'])::after {
  content: '';
  color: currentColor;
}

.vp-code-group {
  @apply mt-4 bg-gray-800 dark:bg-gray-950 rounded-lg;

  .tabs {
    @apply relative flex bg-gray-800 dark:bg-gray-950 overflow-x-auto overflow-y-hidden shadow-[inset_0_-1px] shadow-neutral-400/40 dark:shadow-neutral-600/60 px-3 py-0 mx-0 rounded-[8px_8px_0_0];

    input {
      @apply fixed opacity-0 pointer-events-none;
    }

    label {
      @apply relative inline-block leading-[48px] text-sm font-medium text-[color:var(--dz-code-tab-text-color)] whitespace-nowrap cursor-pointer transition-[color] duration-[0.25s] px-3 py-0 border-b-transparent border-b border-solid after:absolute after:z-[1] after:h-0.5 after:content-[''] after:bg-transparent after:transition-[background-color] after:duration-[0.25s] after:rounded-sm after:-bottom-px after:inset-x-2;
    }
  }

  label:hover {
    @apply text-[color:var(--dz-code-tab-hover-text-color)];
  }

  input:checked + label {
    @apply px-3 text-[color:var(--dz-code-tab-active-text-color)];

    &:after {
      @apply bg-[color:var(--dz-code-tab-active-bar-color)];
    }
  }

  div[class*="language-"],
  .vp-block {
    @apply hidden mt-0 rounded-t-none;
  }

  div[class*="language-"].active,
  .vp-block.active {
    @apply block;
  }

  .blocks {
    @apply pb-3;
  }

  pre {
    @apply my-0 rounded-none;
  }
}

.vp-block {
  @apply px-6 py-5;
}

.dark .vp-code span {
  color: var(--shiki-dark, inherit);
}

html:not(.dark) .vp-code span {
  color: var(--shiki-light, inherit);
}

.custom-block {
  @apply px-4 py-1 my-20 block border-0 rounded-md shadow-lg text-surface-800 dark:shadow-black bg-surface-200/70;

  :not(pre) > code {
    &::before,
    &::after {
      content: "";
    }

    @apply rounded px-[2px] font-mono text-[0.9rem];
  }

  .custom-block-title {
    @apply pt-2 mt-0 text-base font-semibold uppercase text-surface-800;
  }

  :is(ul) {
    @apply mt-2 text-[0.9rem] space-y-0 mb-3;

    :is(li) {
      @apply text-[0.9rem] leading-6 font-medium;

      :is(ul) {
        @apply pl-3 mt-0;
      }
    }
  }

  :is(p) {
    @apply my-1 text-[0.9rem] text-surface-800 leading-6;
  }

  &.note {
    @apply bg-secondary-300 dark:bg-secondary-300/70;

    :not(pre) > code {
      @apply bg-secondary-200 dark:bg-secondary-200/70 text-secondary-800;
    }

    .custom-block-title {
      &::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" /></svg>');
        @apply font-semibold h-5 w-5 inline-block mr-1 mb-[3px] align-middle;
      }
    }

    :is(a) {
      @apply text-inherit border-secondary-800;
    }
  }

  &.warning {
    @apply bg-warning-300 dark:bg-warning-300/70;

    :not(pre) > code {
      @apply bg-warning-200 dark:bg-warning-200/70 text-warning-800;
    }

    .custom-block-title {
      &::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" /></svg>');
        @apply font-semibold h-5 w-5 inline-block mr-1 mb-[2px] align-middle;
      }
    }

    :is(a) {
      @apply text-inherit border-warning-800;
    }
  }

  &.info {
    @apply bg-info-300 dark:bg-info-300/70;

    :not(pre) > code {
      @apply bg-info-200 dark:bg-info-200/70 text-info-800;
    }

    .custom-block-title {
      &::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" /></svg>');
        @apply font-semibold h-5 w-5 inline-block mr-1 mb-[2px] align-middle;
      }
    }

    :is(a) {
      @apply text-inherit border-info-800;
    }
  }

  &.tip {
    @apply bg-success-300 dark:bg-success-300/70;

    :not(pre) > code {
      @apply bg-success-200 dark:bg-success-200/70 text-success-800;
    }

    .custom-block-title {
      &::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" /><path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" /></svg>');
        @apply font-semibold h-5 w-5 inline-block mr-1 mb-[3px] align-middle;
      }
    }

    :is(a) {
      @apply text-inherit border-success-800;
    }
  }

  &.danger {
    @apply bg-danger-300 dark:bg-danger-300/70;

    :not(pre) > code {
      @apply bg-danger-200 dark:bg-danger-200/70 text-danger-800;
    }

    .custom-block-title {
      &::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" /></svg>');
        @apply font-semibold h-5 w-5 inline-block mr-1 mb-[2px] align-middle;
      }
    }

    :is(a) {
      @apply text-inherit border-danger-800;
    }
  }

  &.abstract {
    @apply bg-surface-300 dark:bg-surface-300/70;

    :not(pre) > code {
      @apply bg-surface-200 dark:bg-surface-200/60 text-sm text-surface-800;
    }

    .custom-block-title {
      &::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" /></svg>');
        @apply font-semibold h-5 w-5 inline-block mr-1 mb-[2px] align-middle;
      }
    }

    :is(a) {
      @apply text-inherit border-zinc-800;
    }

    :is(ul) {
      @apply list-image-none list-none pl-0;

      :where(ul) {
        @apply pl-5;
      }
    }
  }
}
